%red-text{
    color: #FE4D4A;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}
*{
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    }

h3{
    font-weight: 500;
    font-size: 22px;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    font-weight: 400;
    font-size: 16px;
}
.container{
    width: 60%;
    margin: 0 auto;
}
.survey__input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .survey__slider{
        -webkit-appearance: none;
        appearance: none;
        height: 9px;
        flex-grow: 1;        
        background: #E2E2E2;       
        border-radius: 5px;
        margin: 0px 10px;
        outline: none;
        //overflow: hidden;
    }
    .survey__slider::-moz-range-thumb{
        height: 25px;
        width: 25px;
        -webkit-appearance: none;
        appearance: none;
        background: url("../img/slider.png");
        border: 0;
        cursor: pointer; 
    }
    .survey__slider::-ms-thumb{
        height: 25px;
        width: 25px;
        -webkit-appearance: none;
        appearance: none;
        background: url("../img/slider.png");
        border: 0;
        cursor: pointer; 
    }
    .survey__slider::-webkit-slider-thumb{
        height: 25px;
        width: 25px;
        -webkit-appearance: none;
        appearance: none;
        background: url("../img/slider.png");
        border: 0;
        cursor: pointer;            
    }
    .survey__number-value{
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }
}

.survey__output-container{
    margin-bottom: 5px;
}
output{ 
    display: block; 
    width: 65px;         
    position: relative;
    background: #FE4D4A;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 5px;   
}
.final-display{
    display: none;
    .final-display__results{
        display: flex;
        justify-content: space-between;      
        .final-display__result{
            display: flex;
            flex-direction: column; 
            flex-basis: 30%;   
            position: relative;       
            .money{
                height: 56px;               
                display: flex;
                justify-content: center;
                margin: 20px 0px;
                img:not(:first-child){
                    margin-left: -40px;
                }
            }
            span{
                @extend %red-text;
            }
            p{
                font-weight: 400;
                font-size: 16px;
            }
            .final-display__popup-button{
                display: inline-block;
                height: 20px;
                width: 20px;
                text-align: center;
                color:#FE4D4A;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.5;
                background: #FEEBEF;
                border-radius: 10px;
                margin: 0px 5px;
                cursor: pointer;
            }
        }
    }
}
.final-display__popup-message{
    position: absolute;
    background: #FC5A57;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 300px;
    bottom: 25%;
}
.aligned{
    right: 0%;
}
.statistics{
    margin: 30px 0px;
    cursor: pointer;
    display: none;
    &:focus {
        outline: 0;
    }
    .statistics__intro{
        height: 67px;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        background-color: #FEEBEF;
        justify-content: center;
        &:focus {
            outline: 0;
        }
        h4{
            color: #FE4D4A;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .statistics__intro::-webkit-details-marker {
        display: none;
    }
    .statistics__intro::after{
        content: "";
        background: url("../img/arrow.png") no-repeat;
        display: block;
        width: 25px;
        height: 15px;
        margin: 10px 15px 0px 15px; 
    }
    .statistics__info{
        background: #FEEBEF;
        padding: 50px 0px;
        p{
            text-align: center;
        }
    }
    .statistics__average{       
        height: 200px;
        width: 200px;
        background: #FFF5F7;
        border-radius: 100px;
        margin: 0 auto;
        .statistics__money-icons{
            padding: 50px 0px 0px;
        }
        .statistics__money-icon1{
            position: relative;
            left: 25%;
        }
        .statistics__money-icon2{
            position: relative;
            left: 15%;
        }
        p{
            @extend %red-text;
            margin-top: 10px;
        }
    }
    .statistics__others{
        display: flex;
        justify-content: space-around;
        .statistics__other{
            flex-basis: 35%;
        }
        .statistics__picture{
            position: relative;
            height: 180px;
            width: 233px;
            margin: 0 auto;
        }
        .statistics__circle{
            position: absolute;
            left: 22%;
            top: 20%;
        }
        .statistics__ellipse{
            position: absolute;
            right: 17%;
            top: 12%;
        }
        .statistics__ellipse1{
            position: absolute;
            right: 35%;
            top: 12%;
        }
        .statistics__percent{
            font-size: 20px;
            font-weight: 700;
            color: #FE4D4A;
        }
    }
}
 .statistics[open]{
    animation: slide .5s ease-in-out;
}
@keyframes slide {
    0%    { opacity: 0; transform:  translate(0, -10px); }
    100%  { opacity: 1; transform:  translate(0, 0); }
  }
.statistics[open] .statistics__intro:first-child{
    display:none;
}
.statistics[open] .statistics__intro::after {
    transform: rotate(180deg);
    margin-bottom: 20px;
}
.outro{
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    h4{
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }
    a{
        padding: 15px 40px;
        background: #FE4D4A;
        color: white;
        border-radius: 5px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px){
    .container{
        width: 80%;
    }
}
@media screen and (max-width: 680px){
    .final-display{
        .final-display__results{
            flex-direction: column;
            text-align: center;
        }
    } 
    .statistics{
        .statistics__others{
            flex-direction: column;
        } 
    }
    .outro{
        flex-direction: column;
        h4{
            text-align: center;
        }  
        a{
            margin: 20px 0px;
             
        }
    }
    .final-display__popup-message{
        right: 0%;
    }
}
@media screen and (max-width: 450px){
    .final-display__popup-message{
        width: 200px;
    }
}